//- サイト内で使用するまとまったデータ類はここへ記述
-
    var samplemenu = [
        {id: "sample_a", href: "/sample/page_sample.html", text: "下層ページサンプル1"},
        {id: "sample_b", href: "/sample/page_sample2.html", text: "下層ページサンプル2"},
    ]

-
    var sampletab = [
        {text: "タブ1のテキストタブ1のテキストタブ1のテキストタブ1のテキストタブ1のテキスト"},
        {text: "タブ2のテキストタブ2のテキストタブ2のテキストタブ2のテキストタブ2のテキスト"},
        {text: "タブ3のテキストタブ3のテキストタブ3のテキストタブ3のテキストタブ3のテキスト"},
        {text: "タブ4のテキストタブ4のテキストタブ4のテキストタブ4のテキストタブ4のテキスト"},
    ]